body {
    background-color:rgb(39, 39, 39);
    color: white;
}

.t-container {
    padding: 50px;
    display: flex;
    justify-content:center;
    grid-gap: 10%;
    flex-wrap: wrap-reverse;
    gap: 1em;
}

.t-box-comment {
    background-color: #ffffff;
    color: #2c2c2c;
    font-family: cursive;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
    height: 30%;
    box-shadow: 0px 0px 93px 0px rgba(110, 110, 110, 0.9);
    
}
.t-box-profile {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

}

 .role {
    font-family: monospace;
}

img, .profile { 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;

}


